<header class='constainer text-center'>
  <div class='row bg-dark text-white'>
    <h1
      class='h1 --bs-body-color col-4 p-2 mx-5 mb-4 bg-info-subtle text-dark rounded-3 header'
    >
      Your Dashboard
    </h1>
  </div>
</header>
<main class='container container-fluid mt-5'>
  <div id='blogpostContainer'>
    {{! render all polls from the database on the main page }}
    {{#each polls}}
      <div class='card bg-dark m-3 rounded-3 text-white'>
        <div class='card-body'>
          <div class='row align-center'>
            <div class='h3 col-5 text-start'><a
                class='text-white'
                href='/dashboard/{{user_id}}/editpoll/{{id}}'
              >{{title}}</a>
            </div>
            <div class='col-7 text-end'>Polled on
              {{format_date date_created}}</div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div id='addPostContainer'>
    <form class='form post-form'>
      <div class='input-group mb-3'>
        <span class='input-group-text'>Title</span>
        <input
          id='title-post'
          type='text'
          class='form-control'
          placeholder='Insert title here'
          aria-label='Title'
        />
      </div>
      <div class='input-group'>
        <div class='input-group'>
          <span class='input-group-text'>Description</span>
          <textarea
            id='description-post'
            class='form-control'
            aria-label='With textarea'
          ></textarea>
        </div>
      </div>
      <div class='row justify-content-center align-items-center'>
        <div class='form-group col-2 my-3 text-center'>
          <button
            class='btn btn-primary custom-btn'
            type='submit'
            id='post-submit'
          >Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class='container m-3'>
    <div class='row d-flex justify-content-center align-items-center'>
      <div class='col-12 col-sm-6'>
        <button
          class='btn btn-primary custom-btn w-100'
          type='button'
          id='addpost'
        >+ Add Poll</button>
      </div>
    </div>
  </div>
</main>
<script src='/js/dashboard.js'></script>
