<main class="container container-fluid mt-5">
  <div class="card bg-info-subtle m-3 rounded-3">
    <header class="card-header bg-dark text-white">
      <div class="row">
        <h2 class="h2 col-9">
          Login
        </h2>
      </div>
    </header>
    <div class="card-body">
      <div class="row align-center p-1">
        <form class="form login-form">
          <div class="form-group m-2">
            <label for="username-login">Username:</label>
            <input
              class="form-control"
              type="text"
              id="username-login"
              aria-describedby="usernameHelp"
              placeholder="Enter username"
            />
          </div>

          <div class="form-group m-2">
            <label for="password-login">Password:</label>
            <input
              class="form-control"
              type="password"
              id="password-login"
              placeholder="Password"
            />
          </div>

          <div class="row justify-content-center align-items-center">
            <div class="form-group col-2 my-3 text-center">
              <button
                class="btn btn-primary custom-btn"
                type="submit"
              >Login</button>
            </div>

            <div class="form-group col-2 my-3 text-center">
              <button class="btn btn-primary custom-btn" type="button"><a
                  class="text-white"
                  href="/account/signup"
                >Sign Up</a></button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</main>

<script src="/js/login.js"></script>