<main class="container">
  <div class="container">
    <div class="row">
      <div class="mt-3 col-12 col-md-5">
        <img src="/images/makeYourMark.gif" class="img-fluid" />
      </div>
      <div class="h3 col-12 col-md-7 fw-bold">
        <h2 class="title-desc">Join Ballot-Box and make your opinion count!</h2>
        <p class="description text-muted">Discover Ballot-Box, your one-stop solution for
          real-time polling. Easily create custom polls,
          share them globally, and gain instant insights.</p>
      </div>
    </div>
  </div>
  <div>
    <div class="container container-fluid d-flex rounded-top-5">
      <div id="allPollsContainer" class="container text-center fw-bold justify-content-sm-center">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {{#each polls}}
          <div class="col">
            <div class="card bg-light mt-4 p-3 rounded-4 shadow-lg">
              <header class="card-header --bs-body-color bg-secondary text-white">
                <div class="row">
                  <h2 class="h2 col-12 text-white text-start mb-0">
                    <a class="text-white" href="/poll/{{id}}">{{question}}</a>
                  </h2>
                </div>
              </header>
              <div class="bg-white px-3 pt-1 pb-2">
                <div class="row">
                  <div class="col-12 text-md-end fs-responsive">
                    Posted by {{user.username}} on {{format_date date_created}}
                  </div>
                </div>
              </div>
              <div class="row align-center mb-2">
                <div class="col-md-3">
                  <picture>
                    <source srcset="..." type="image/svg+xml" />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</main>

<script src="/js/homepage.js"></script>