<main>
  <div class="container-fluid">
    <div class="row mt-4 p-5 justify-content-center">
      <div class="col-md-6 col-12 text-center">
        <img src="/images/makeYourMark.gif" class="w-110 img-fluid" />
      </div>
      <div
        class="mx-2 col-12 col-md-6 col-xl-5 fw-bold pe-3 d-flex flex-column justify-content-center align-items-start"
      >
        <h2 class="title-desc">Join Ballot-Box and make your opinion count!</h2>
        <p class="description text-muted fs-3" style="line-height: 1.5">Discover
          Ballot-Box, your one-stop solution for real-time polling. Easily
          create custom polls, share them globally, and gain instant insights.</p>
      </div>
    </div>
  </div>
  <div id="allPollsContainer" class="container container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-0 mx-0">
      {{#each polls}}
        <div class="col mb-4">
          <div class="card p-3 rounded-4 shadow-lg mx-2">
            <header class="card-header bg-secondary text-white">
              <h2 class="h2 mb-0 ms-0">
                <a href="/poll/{{id}}">{{question}}</a>
              </h2>
            </header>
            <div class="card-body bg-white py-0">
              <div class="card-text mt-3 text-md-end pe-2 lh-sm fs-responsive">
                Posted by
                {{user.username}}
                on
                {{format_date date_created}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</main>
<script src="/js/homepage.js"></script>