<h1>Create a New Poll</h1>

<form id="new-poll-form" action="/create-poll" method="POST">
  <label for="question">Question:</label>
  <input type="text" id="question" name="question" required>
  <br>

  <label for="num-choices">Number of choices:</label>
  <input type="number" id="num-choices" name="num_choices" min="2" required>
  <br>

  <div id="choices-container">
    <!-- Choices will be added here -->
  </div>
  <br>

  <input type="submit" value="Create Poll">
</form>

<script src="/js/poll-create.js"></script>