<div class="row col-5">
  <h4 class="fw-bold text-center mt-3"></h4>
  <form class=" bg-white px-4" action="">
    <p class="fw-bold"> (( TITLE ))</p>
    <p class="text-muted"> (( QUESTION ))</p>
    <ol type="A">
      {{#each QUESTION}}
      <li>
        <span> {{ ANSWER }} </span>
      </li>
      {{/each}}
    </ol>
    </script>
</div>
 