<main class="container container-fluid mt-5">
  <div id="pollsContainer">
    {{! render all polls from the database on the main page }}
    {{#each polls}}
      <div class="card bg-dark m-3 rounded-3 text-white">
        <div class="card-body">
          <div class="row align-center">
            <div class="h3 col-5 text-start"><a
                class="text-white"
                href="/dashboard/{{user_id}}/editpoll/{{id}}"
              >{{title}}</a>
            </div>
            <div class="col-7 text-end">Polled on:
              {{format_date date_created}}</div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div id="addPollContainer">
    <form class="form poll-form">
      <div class="input-group mb-3">
        <span class="input-group-text">Title</span>
        <input
          id="title-poll"
          type="text"
          class="form-control"
          placeholder="Insert title here"
          aria-label="Title"
        />
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="form-group col-2 my-3 text-center">
          <button
            class="btn btn-primary custom-btn"
            type="submit"
            id="poll-submit"
          >Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <button class="col-6 btn btn-primary" type="button" id="addPoll">+ Add
        Poll</button>
    </div>
  </div>
</main>
<script src="/js/profile.js"></script>