<main class="container container-fluid mt-5">
  <div class="card bg-info-subtle m-3 rounded-3">
    <header class="card-header bg-secondary text-white">
      <div class="row">
        <h2 class="h2 col-9 text-white align-items-center">
          Sign Up
        </h2>
      </div>
    </header>
    <div class="card-body shadow-lg bg-body rounded">
      <div class="row align-center p-1">
        <form class="form signup-form">
          <div class="form-group h4 fw-bold m-3">
            <label for="username-signup">Username:</label>
            <input
              class="form-control"
              type="text"
              id="username-signup"
              placeholder="Enter username"
            />
          </div>

          <div class="form-group h4 fw-bold m-3">
            <label for="password-signup">Password:</label>
            <input
              class="form-control"
              type="password"
              id="password-signup"
              placeholder="Password"
            />
          </div>
          <div class='container-fluid submit col d-flex justify-content-center'>
            <div class="form-group">
              <div class="hand d-lg-flex flex-row justify-content-evenly col-lg-7 col-sm-4 ">
                <img
                  src="/images/Pointing.png"
                  class="img-fluid"
                  alt="A person putting their ballot into a box."
                />
              </div>
              <div>
              <button
                class="button btn btn-primary btn-lg col-lg-4 col-md-6 text-white fw-bold"
                type="submit"
              >Submit</button>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</main>

<script src="/js/signup.js"></script>