<main class="container container-fluid d-flex justify-content-center mt-5">
  <div class="card bg-info-subtle rounded-3 w-75 h-auto">
    <header class="card-header bg-secondary text-white">
      <div class="row">
        <h2 class="h2 col text-white text-center" id="signup-title">
          Sign Up
        </h2>
      </div>
    </header>
    <div class="card-body shadow-lg">
      <div class="row align-center p-1">
        <form class="form signup-form">
          <div class="form-group h4 fw-bold m-3">
            <label for="username-signup">Username:</label>
            <input
              class="form-control form-control-lg"
              type="text"
              id="username-signup"
              placeholder="Enter username"
            />
          </div>

          <div class="form-group h4 fw-bold m-3">
            <label for="password-signup">Password:</label>
            <input
              class="form-control form-control-lg"
              type="password"
              id="password-signup"
              placeholder="Password"
            />
          </div>
          <div
            class="m-3 login d-flex flex-column flex-md-row justify-content-center align-items-center"
          >
            <button
              class="button col-4 btn btn-primary btn-lg text-white fw-bold"
              type="submit"
              style="letter-spacing: 1px;"
            >Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</main>

<script src="/js/signup.js"></script>