* {
  box-sizing: border-box;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(35, 144, 13) !important;
  text-decoration: none;
  font-size: 100%;
  margin-left: 10px;
}

.no-button:hover {
  color: #0a5133;
  text-decoration: underline;
}


div {
  margin: 0px!important;
}

h1 {
  display: flex!important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center;
  font-family: 'Inter', sans-serif!important;
  font-weight: bolder!important;
  font-size: 5em;
  font-style: bolder;
  margin: 0px;
  color: white !important;
}

h2 {
  font-size: 1.5em;
  margin: 1em;
  justify-items: center!important;
  color: rgb(35, 144, 13) !important;
}

h5 {
  font-size: 2em!important;
  color: rgb(35, 144, 13) !important;
  font-family: 'Inter', sans-serif!important;
}

a,
nav {
  color: rgb(35, 144, 13) !important;
  text-decoration: none !important;
  letter-spacing: 4px;
}

nav {
  display: flex;
  font-size: 1.5em;
  background-color: green;
  justify-content: flex-end !important;
  font-weight: bold;
  font-family: 'Inter', sans-serif!important;
}
a {
  margin-right: 10px;
  color: white !important;
}

body {
  background-color: rgb(238, 219, 195) !important;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: bold!important;
  line-height: 0.5;
  color: #333;
  margin: 9px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  text-align: center;
  /* padding: 0px 10px; */
  color: white !important;
}

.logo {
  display: flex;
  width: 115px;
  height: auto;
  margin-top: 10px;
  display: block;
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
}

#logout {
  display: flex-end;
  padding-bottom: 0px;
  color: rgb(35, 144, 13) !important;
  justify-content: flex-end;
}

.btn {
  background-color: rgb(35, 144, 13) !important;
  color: #fff !important;
  padding: 15px 20px !important;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5em;
  margin: 50px !important;
}

.btn:hover {
  background-color: #0a5133;
}

.create-container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 10px;
}

.feed-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin: 15px;
  padding: 3em;
}


  margin: 10px;
}

#addPollContainer {
  display: none;
}

#pollsContainer {
  display: block;
}

#addPoll {
  display: block;
}
