* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: 1.5em;
  font-style: bolder;
  margin: 10px;
  color: white;
}

h2 {
  font-size: 2em;
  font-weight: bolder;
  margin: 1em;
  justify-items: center;
  color: rgb(25, 25, 35);
}

h5 {
  font-size: 2em;
  background-color: rgb(99, 163, 117);

}

a {
  display: flex;
  margin: 0px;
  width: 100%;
  color: white !important;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;
}

a:hover {background-color: #3e8e41}

a:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

nav {
  font-size: 1.7em !important;
  background-color: rgb(99, 163, 117);
  color: white !important;
} 

/* .fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
} */

body {
  background-color: rgb(238, 219, 195);
  font-size: 20px;
  font-weight: bold;
  line-height: 0.5;
  color: rgb(25, 25, 35);

}

.home {

}

.login {

}

#logout {
  display: flex-end;
  padding-bottom: 0px;
  color: rgb(99, 163, 117);
  justify-content: flex-end;
}

.logo {
  display: inline-flex;
  justify-content:right;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 4px;
  margin-left: 0px;
  padding: 2px;
}

  .button {
    margin-top: 30px;
    margin-left: 25px;
    padding: 10px 15px;
    font-size: 20px;
    min-width: 7em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:rgb(99, 163, 117);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.create-container {
  display: flex;
  justify-content: right;
  justify-content: center;
  margin: 10px;
}

.description {
  color: rgb(99, 163, 117);
  /* color: rgb(0, 79, 45); */

}

.title-desc {
  /* color: rgb(244, 96, 54); */
  color: rgb(231, 111, 81);

}

#login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.hand {
  margin: 30px 18px 10px 25px;  
}

.feed-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin: 10px;
  padding: 2em;
}

.checkmark {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 20px 25px 25px 25px;
  height: 10%;
  width: 20%;
}

/* #computer-gif {
  margin: 10px;
} */


#addPollContainer {
  display: none;
}

#pollsContainer {
  display: block;
}

#addPoll {
  display: block;
}
